* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  background: #12233b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-title {
  width: 540px;
  height: 198px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/fondo.png");
  opacity: 0.9;
  background-repeat: repeat;
}

/* FORM-INPUT-SEARCH */

.inputs {
  display: flex;
  flex-direction: row;
}

#search {
  width: 400px;
  margin-right: 60px;
}

h1 {
  margin: 8px 32px 3px;
  color: #faecec;
  font-size: 18px;
}

#formSearch {
  display: flex;
  justify-content: center;
}

.searchInput {
  background: #ffcb05eb;
  color: black;
  width: 300px;
  padding: 5px 20px;
  border-radius: 12px 0 0 12px;
  font-size: 16px;
  border: none;
}

.img-pokeball {
  width: 50px;
  height: 45px;
  cursor: pointer;
}

/* FORM-INPUT-SORT */

#sort {
  width: 400px;
}

h2 {
  margin: 8px 5px 3px;
  color: #faecec;
  font-size: 18px;
  padding-inline: 40px;
}

.formSort {
  display: flex;
  justify-content: center;
}

select {
  background: #ffcb05eb;
  color: black;
  width: 320px;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

/* DATA-CARDS-POKEMON */

#cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
}

.card {
  background-color: #e4e4dc;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 1.23) 0px 3px 6px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.pokemon-img {
  height: 160px;
  padding-inline: 10px;
  align-self: center;
  cursor: pointer;
}

.pokemon-info {
  padding: 15px;
}

.pokemon-name {
  color: #333;
  font-size: 20px;
}

.pokemon-number {
  color: #888;
}

.pokemon-type {
  margin-top: 10px;
}

.fire {
  display: flex;
  justify-content: center;
  font-size: 13px;
  width: 112px;
  padding: 3px;
  border-radius: 5px;
  background-color: #45cc5b;
  opacity: 0.8;
  color: #faecec;
}

.pokemon-size {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.weight {
  border-radius: 3px;
  background-color: #12203a;
  color: aliceblue;
  padding: 1px;
  opacity: 0.7;
}

.height {
  border-radius: 3px;
  background-color: #12203a;
  color: aliceblue;
  margin-right: 10px;
  padding: 1px;
  opacity: 0.7;
}
/*FOOTER*/

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #12233b;
  color: #a5a5a5;
  position: fixed;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
  header {
    width: 100%;
  }

  .img-title {
    width: 80%;
    height: 70%;
  }

  .inputs {
    display: flex;
    flex-direction: column;
  }

  #search {
    margin-right: 0;
  }

  #cards {
    grid-template-columns: 1fr;
  }

  main {
    flex-direction: column;
  }
}
